In [22]:
import os
import pandas as pd
import numpy as np

In [24]:
cols = ['Singer', 'Song Name', 'Lyrics']

df = pd.read_csv('datasets/lyrics_train_set.csv', names=cols)

msk = np.random.rand(len(df)) < 0.8

df_train = df[msk]

df_val = df[~msk]
df_train

,Singer,Song Name,Lyrics
0,elton john,candle in the wind,goodbye norma jean & though i never knew you a...
2,gerry rafferty,right down the line,you know i need your love & you've got that ho...
3,2 unlimited,tribal dance,come on check it out ya'll & (come on come on!...
4,2 unlimited,let the beat control your body,let the beat control your body & let the beat ...
5,2 unlimited,get ready for this,ya'll ready for this? & get down with the styl...
...,...,...,...
609,don henley,end of the innocence,remember when the days were long & and rolled ...
610,don henley,dirty laundry,i make my living off the evening news & just g...
611,don henley,new york minute,harry got up & dressed all in black & went dow...
612,bob dylan,subterranean homesick blues,johnny's in the basement & mixing up the medic...
613,goldfinger,mable,i met her sunday that was yesterday & the girl...

In [76]:
def add_midis_paths(df):
    midis = list(os.listdir(r'./datasets/midi_files'))
    midis = {midi.lower()[:-4]: midi for midi in midis}    
    
    def combine_singer_song(singer, song):
        key = f'{singer} - {song}'.replace(' ', '_').lower()
        return midis[key] if key in midis else None
    
    df['midi_path'] = df.apply(lambda r: combine_singer_song(r['Singer'], r['Song Name']) ,axis=1)
    return df

In [70]:
df_test[df_test['midi_path'].isna()]

,Singer,Song Name,Lyrics,midi_path
0,the bangles,eternal flame,close your eyes give me your hand darling & d...,None
1,billy joel,honesty,if you search for tenderness & it isn't hard ...,None
2,cardigans,lovefool,dear i fear we're facing a problem & you love...,None
3,aqua,barbie girl,hiya barbie & hi ken! & do you want to go for...,None
4,blink 182,all the small things,all the small things & true care truth brings...,None

In [77]:
df_test = pd.read_csv(r'./datasets/lyrics_test_set.csv', names=cols)

In [78]:
add_midis_paths(df_test)

,Singer,Song Name,Lyrics,midi_path
0,the bangles,eternal flame,close your eyes give me your hand darling & do...,The_Bangles_-_Eternal_Flame.mid
1,billy joel,honesty,if you search for tenderness & it isn't hard t...,Billy_Joel_-_Honesty.mid
2,cardigans,lovefool,dear i fear we're facing a problem & you love ...,Cardigans_-_Lovefool.mid
3,aqua,barbie girl,hiya barbie & hi ken! & do you want to go for ...,Aqua_-_Barbie_Girl.mid
4,blink 182,all the small things,all the small things & true care truth brings ...,Blink_182_-_All_the_Small_Things.mid